@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body{
   color:#804423;
   font-family: "Cinzel", sans-serif;
   font-weight: 400;
   background-color: #DAC8B3;
   text-align: center;
}


nav ul{
  list-style: none;
  text-transform: uppercase;
}

nav li{
  display:inline-block;
  padding: 10px;
  margin: 2px;
}

header{
  background-color: rgb(255, 255, 255);
  padding-bottom: 40px;
  position: relative;
  padding-top: 20px;
}


.logo-container {
  position: absolute;
  top: 10px;
  left: 20px;
}

.logo {
  height: 100px;
  width: auto;
  object-fit: contain;
}

.botão3{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #804423;
  border: none;
  font-size: medium;
  background-color: white;
}
.botão4{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #804423;
  border: none;
  font-size: medium;
  background-color: white;
}
.botão5{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #804423;
  border: none;
  font-size: medium;
  background-color: white;
}
.botão6{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #804423;
  border: none;
  font-size: medium;
  background-color: white;
}
.botão7{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #804423;
  border: none;
  background-color: white;
  font-size: medium;
}


.contatinho{
font-size: medium;
display: inline;
height: 200px;
width: auto;

}

.btn-instagram {
  display: inline-block;
  padding: 10px;
  background-color: #ffffff; /* Cor do Instagram */
  transition: background-color 0.3s;
}

.instagram-icon {
  width: 24px; /* Tamanho do ícone */
  height: 24px;
}

 .btn-gmail {
  display: inline-block;
  padding: 10px;
  background-color: #ffffff;  
  transition: background-color 0.3s;
}

.gmail-icon {
  width: 26px; /* Tamanho do ícone */
  height: 26px;
}



/* From Uiverse.io by DavidTM96 card para o*/ 
.form {
  display: flex;
  flex-direction: column;
  position: relative; top: -1%; left: 15%;
  font-family:initial;
  gap: 10px;
  padding-inline: 20em;
  padding-bottom: 1em;
  background-color: #804423;
  border-radius:50px;
height: 400px;
width: 220px;
}


.form-heading {
  text-align: center;

  margin: 2em;
  color: #DAC8B3;
  font-size: x-large;
  margin: 0.6em;
  color:  #DAC8B3;
  font-size: 1.5em;

  background-color: transparent;
  align-self: center;
  font-family: initial;
  position: relative; left: 70%;
}

.form-field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 10px;
  padding: 0.6em;
  border: none;
  outline: none;
  color: white;
  background-color: #ffffff;

  box-shadow: inset 2px 5px 10px rgb(119, 117, 117);

  box-shadow: inset 2px 5px 10px #ffffff;

  font-family: initial;
  position: relative; left: 70%;
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #000000;

  padding-inline: 1em;

  padding-inline: 0.2em;

  font-family: initial;
 
}

.sendMessage-btn {
  cursor: pointer;
  margin-bottom: 3em;
  padding: 1em;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  font-weight: bold;
  outline: 1px solid white;
  transition: all ease-in-out 0.3s;
  font-family: initial;
  position: relative; left: 70%;
}

.sendMessage-btn:hover {
  transition: all ease-in-out 0.3s;
  background-color: white;
  color: #000;
  cursor: pointer;

  box-shadow: inset 2px 5px 10px rgb(119, 119, 119);
  font-size: medium;
}

.form-card1 {
  background-image: linear-gradient(163deg, #ffffff 0%, #9f6c50 100%);
  border-radius: 22px;
  transition: all 0.3s;

}

.form-card1:hover {
  box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.3);
  box-shadow: inset 2px 5px 10px #fffffe;
  font-size: medium;
}



.form-card2 {
  border-radius: 0;
  transition: all 0.2s;
}


.form-card2:hover {
  transform: scale(0.98);
  border-radius: 10px;
}


























