@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body{
   color:#804423;
   font-family: "Cinzel", sans-serif;
   font-weight: 400;
   background-color: #DAC8B3;
   text-align: center;
}

nav ul{
   list-style: none;
   text-transform: uppercase;
 }
 
 nav li{
   display:inline-block;
   padding: 10px;
   margin: 2px;
 }
 
 header{
   background-color: rgb(255, 255, 255);
   padding-bottom: 40px;
   position: relative;
   padding-top: 20px;
 }

 h1{
   font-size: 40px;
   color:#804423;
 }


 .logo-container {
   position: absolute;
   top: 10px;
   left: 20px;
 }
 
 .logo {
   height: 100px;
   width: auto;
   object-fit: contain;
 }

 .botão3{
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   color: #804423;
   border: none;
   font-size: medium;
   background-color: white;
 }
 .botão4{
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   color: #804423;
   border: none;
   font-size: medium;
   background-color: white;
 }
 .botão5{
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   color: #804423;
   border: none;
   font-size: medium;
   background-color: white;
 }
 .botão6{
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   color: #804423;
   border: none;
   font-size: medium;
   background-color: white;
 }
 .botão7{
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   color: #804423;
   border: none;
   background-color: white;
   font-size: medium;
 }


 /* fotoss*/
 .container1 {
  display: flex; /* Ativa o flexbox */
  align-items: normal; /* Alinha verticalmente no centro */
  gap: 10px; /* Espaçamento entre imagem e texto */
  border-width: 10px;
  border-style: double;
  border-color: #804423;
  text-align: left;
  font-size: large;
  background-color: #a67b5b;
  color: #DAC8B3;
  font-family:initial;
}
.container1 img {
  max-width: 150px; /* Define tamanho da imagem */
  height: auto;
}
 

.container2 {
  display: flex; 
  align-items: normal; 
  gap: 20px; 
  border-width: 10px;
  border-style: double;
  border-color: #804423;
  text-align: left;
  font-size: large;
  background-color: #a67b5b;
  color: #DAC8B3;
  font-family:initial;
}
.container2 img {
  max-width: 280px; 
  height: auto;
}


.container3 {
  display: flex; /* Ativa o flexbox */
  align-items: normal; /* Alinha verticalmente no centro */
  gap: 20px; /* Espaçamento entre imagem e texto */
  border-width: 10px;
  border-style: double;
  border-color: #804423;
  text-align: left;
  font-size: large;
  background-color: #a67b5b;
  color: #DAC8B3;
  font-family:initial;
}
.container3 img {
  max-width: 280px; /* Define tamanho da imagem */
  height: auto;
}


.container4 {
  display: flex; /* Ativa o flexbox */
  align-items: normal; /* Alinha verticalmente no centro */
  gap: 20px; /* Espaçamento entre imagem e texto */
  border-width: 10px;
  border-style: double;
  border-color: #804423;
  text-align: left;
  font-size: large;
  background-color: #a67b5b;
  color:#DAC8B3;
  font-family:initial;
}
.container4 img {
  max-width: 280px; /* Define tamanho da imagem */
  height: auto;
}


.container5 {
  display: flex; /* Ativa o flexbox */
  align-items: normal; /* Alinha verticalmente no centro */
  gap: 20px; /* Espaçamento entre imagem e texto */
  border-width: 10px;
  border-style: double;
  border-color: #804423;
  text-align: left;
  font-size: large;
  background-color: #a67b5b;
  color:#DAC8B3;
  font-family:initial;
}
.container5 img {
  max-width: 280px; /* Define tamanho da imagem */
  height: auto;
}

 .btn-instagram {
  display: inline-block;
  padding: 10px;
  background-color: #ffffff; /* Cor do Instagram */
  transition: background-color 0.3s;
}

.instagram-icon {
  width: 24px; /* Tamanho do ícone */
  height: 24px;
}

 .btn-gmail {
  display: inline-block;
  padding: 10px;
  background-color: #ffffff;  
  transition: background-color 0.3s;
}

.gmail-icon {
  width: 26px; /* Tamanho do ícone */
  height: 26px;
}

.img-lateral2 {
  display:flex;
  width: 50%;
  align-items: normal; 
  gap: 20px; 
  border-width: 10px;
  border-style: double;
  border-color: #804423;
  text-align:left;
  font-size:larger;
  background-color: #a67b5b;
  color: #DAC8B3;
  font-family:initial;
}

.container6{
  display: flex; 
    gap: 5px;
}

.container7{
  display: flex;
  gap: 5px;
}

.container8{
  display: flex;
  gap: 5px;
}







<<<<<<< HEAD



















.card {
  width: 300px;
  height: 375px;
  background: #804423;
  padding: .4em;
  border-radius: 6px;
}

.card-image {
  background-color: rgba(236, 236, 236, 0.151);
  width: 100%;
  height: 250px;
  border-radius: 6px 6px 0 0;
}

.card-image:hover {
  transform: scale(0.98);
}

.category {
  text-transform: none;
  font-size: 1.1em;
  font-weight: 600;
  color: #e69a71;
  padding: 10px 7px 0;
}

.category:hover {
  cursor: pointer;
}

.heading {
  font-weight: 600;
  font-size: 1em;
  color: #ffff;
  padding: 7px;
  text-transform: none;
}

.heading:hover {
  cursor: pointer;
}

/* Container que agrupa todos os cards */
.conteiner1 {
font-family: initial;
display: flex; /* Coloca os cards lado a lado */
justify-content: center; /* Centraliza os cards na tela */
gap: 20px; /* Espaçamento entre um card e outro */
flex-wrap: wrap; /* Faz os cards irem para a linha debaixo se a tela for muito pequena */
padding: 20px;
}
=======
>>>>>>> 4365306ec20888e47129d81595e54062eccdef89
