
.posicao-imagem {
           
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.minha-foto {
    width: 45px;
    height: 45px;
    
    border-radius: 50%; 
    border: 2px solid #fff; 
    box-shadow: 0px 4px 15px rgba(0,0,0,0.3); 
    
    object-fit: cover;
}


.carousel {
    position: relative;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
  }
  
  .carousel-inner img {
    display: none; /* Esconde todas */
    width: 100%;
  }
  
  .carousel-inner img.active {
    display: block; /* Mostra apenas a ativa */
  }
  
  /* Estilo dos botões */
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  .prev { left: 10px; }
  .next { right: 10px; }
  