@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body{
   color:#804423;
   font-family: "Cinzel", sans-serif;
   font-weight: 400;
   background-color: #DAC8B3;
   text-align: center;
   
}

nav ul{
  list-style: none;
  text-transform: uppercase;
}

nav li{
  display:inline-block;
  padding: 10px;
  margin: 2px;
}

header{
  background-color: rgb(255, 255, 255);
  padding-bottom: 40px;
  position: relative;
  padding-top: 20px;
}

.logo-container {
  position: absolute;
  top: 10px;
  left: 20px;
}

.logo {
  height: 100px;
  width: auto;
  object-fit: contain;
}

h1{
  font-size: 40px;
  color:#804423;
}

.botão3{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #804423;
  border: none;
  font-size: medium;
  background-color: white;
}
.botão4{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #804423;
  border: none;
  font-size: medium;
  background-color: white;
}
.botão5{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #804423;
  border: none;
  font-size: medium;
  background-color: white;
}
.botão6{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #804423;
  border: none;
  font-size: medium;
  background-color: white;
}
.botão7{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #804423;
  border: none;
  background-color: white;
  font-size: medium;
}



.btn-instagram {
  display: inline-block;
  padding: 10px;
  background-color: #ffffff; /* Cor do Instagram */
  transition: background-color 0.3s;
}

.instagram-icon {
  width: 24px; /* Tamanho do ícone */
  height: 24px;
}

 .btn-gmail {
  display: inline-block;
  padding: 10px;
  background-color: #ffffff;  
  transition: background-color 0.3s;
}

.gmail-icon {
  width: 26px; /* Tamanho do ícone */
  height: 26px;
}


/* From Uiverse.io by codebykay101 */ 
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .glass {
  position: relative;
  width: 300px;
  height: 350px;
  background: linear-gradient(#fff2, transparent);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 10px;
  margin: 0 -45px;
  backdrop-filter: blur(10px);
  transform: rotate(calc(var(--r) * 1deg));
}

.container:hover .glass {
  transform: rotate(0deg);
  margin: 0 10px;
}

.container .glass::before {
  content: attr(data-text);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: rgba(255, 255, 255, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-size: large;
}
.container .glass svg {
  font-size: 2.5em;
  fill: #fff;
}

.maçã{
  font-family: initial;
  font-size: larger;
  max-width: 1300px;
  margin: 10px auto;
  border-radius: 20px;
}




button1 {
 display: flex;
 height: 3em;
 width: 100px;
 align-items: center;
 justify-content: center;
 background-color: #804423;
 border-radius: 3px;
 letter-spacing: 1px;
 transition: all 0.2s linear;
 cursor: pointer;
 border: none;
 background: #fff;
}

button1 > svg {
 margin-right: 5px;
 margin-left: 5px;
 font-size: 20px;
 transition: all 0.4s ease-in;
}

button1:hover > svg {
 font-size: 1.2em;
 transform: translateX(-5px);
}

button1:hover {
 box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
 transform: translateY(-2px);
}