@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body{
   color:#804423;
   font-family: "Cinzel", sans-serif;
   font-weight: 400;
   background-color: lightblue;
   text-align: center;
}

.BOTAO {
   background-color: #804423; 
   color: white;
   border: none;
   border-radius: 5px;
   text-align: center;
  text-decoration: none;
  width: 500px;
  height: 100px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 17px;
 }
 .BOTAO2 {
   background-color: #804423; 
   color: white;
   border: none;
   border-radius: 5px;
   text-align: center;
  text-decoration: none;
  width: 500px;
  height: 100px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 17px;
 }

 .btn-instagram {
   display: inline-block;
   padding: 12px 20px;
   background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
   color: white;
   font-weight: bold;
   text-decoration: none;
   border-radius: 8px;
   transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn-instagram:hover {
   transform: scale(1.05);
   box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.email-btn {
   background-color: #ff0000;
   color: white;
   padding: 12px 20px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   font-size: 16px;
 }
 .email-btn:hover {
   background-color: #aab300;
 }
<<<<<<< HEAD
 
 .container {
   display: flex;
   align-items: center; /* Alinha verticalmente no centro */
   gap: 20px; /* Espaço entre imagem e texto */
}
=======


 
.carousel {
   width: 100%;
   max-width: 10000px;
   overflow: hidden;
   margin: auto;
 }
 
 .carousel-inner {
   display: flex;
   transition: transform 0.5s ease-in-out;
 }
 
 .container2 {
   display: flex;
   align-items: center; /* Alinha verticalmente no centro */
   gap: 20px; /* Espaço entre imagem e texto */

 }