@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body{
   color:#804423;
   font-family: "Cinzel", sans-serif;
   font-weight: 400;
   background-color: #DAC8B3;
   text-align: center;
}

nav ul{
  list-style: none;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  padding: 0;
  margin: 0;
}
 
 nav li{
   display:inline-block;
   padding: 5px;
 }
 

 h1{
   font-size: 40px;
   color:#804423;
 }


 .logo-container {
   position: absolute;
   top: -5px;
   left: 20px;
 }
 
 .logo {
   height: 100px;
   width: auto;
   object-fit: contain;
 }

header{
  background-color: white;
  padding: 0.1px;
  min-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
}


h1{
  font-size: 40px;
  color:#804423;
}

/*aqui ó o cabeçalhinho*/
button {
  font-size: clamp(14px, 2vw, 18px);
   min-height: 50px;
  padding: 10px 15px;
  color: #804423;
  height: 60px;
  font-family: initial;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  border: none;
  background: white;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

button:focus,
button:hover {
  color: #804423;
}

button:focus:after,
button:hover:after {
  width: 100%;
  left: 0%;
}

button:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #804423;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

 

 .btn-instagram {
  display: inline-block;
  padding: 10px;
  background-color: #ffffff; /* Cor do Instagram */
  transition: background-color 0.3s;
}

.instagram-icon {
  width: 24px; /* Tamanho do ícone */
  height: 24px;
}

 .btn-gmail {
  display: inline-block;
  padding: 10px;
  background-color: #ffffff;  
  transition: background-color 0.3s;
}

.gmail-icon {
  width: 26px; /* Tamanho do ícone */
  height: 26px;
}


.paste-button {
  position: relative;
  display: block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button2 {
  background-color: #ffffff;
  color: #804423;
  padding: 10px 15px;
  font-size: clamp(14px, 2vw, 18px);
  font-weight: 500;
  border: 2px solid transparent;
  border-radius: 15px;
  cursor: pointer;
  font-family: initial;
}

.dropdown-content {
  display: none;
  font-size: 13px;
  position: absolute;
  z-index: 1;
  min-width: 200px;
  background-color: #804423;
  border: 2px solid #DAC8B3;
  border-radius: 0px 15px 15px 15px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: #ffffff;
  padding: 8px 10px;
  text-decoration: none;
  display: block;
  transition: 0.1s;
}

.dropdown-content a:hover {
  background-color: #ffffff;
  color: #804423;
}

.dropdown-content a:focus {
  background-color: #212121;
  color: #ffffff;
}

.dropdown-content #top:hover {
  border-radius: 0px 13px 0px 0px;
}

.dropdown-content #bottom:hover {
  border-radius: 0px 0px 13px 13px;
}

.paste-button:hover button {
  border-radius: 15px 15px 0px 0px;
}

.paste-button:hover .dropdown-content {
  display: block;
}
/*fim do cabeçalho*/



.container {
display: flex;
gap: 12px;
justify-content: center;
}

.card {
  width: min(350px, 100%);
  min-height: 425px;

  background: #804423;
  padding: .4em;
  border-radius: 9px;
  
}


.imagem img{
  width: 350px;
  height: 290px;
  border-radius: 9px 6px 0 0;
}

.imagem {
  background-color: rgba(236, 236, 236, 0.151);
  width: 100%;
  height: 250px;
  border-radius: 9px 6px 0 0;

}

.descricao{
  font-weight: normal;
  font-size: 0.98em;
  color: #DAC8B3;
  padding: 5px;
  text-transform: none;
  text-align: justify;

}


.imagem2 img{
  width: 350px;
  height: 290px;
  border-radius: 9px 6px 0 0;
}

.imagem2 {
  background-color: rgba(236, 236, 236, 0.151);
  width: 100%;
  height: 250px;
  border-radius: 9px 6px 0 0;

}

.imagem3 img{
  width: 350px;
  height: 290px;
  border-radius: 9px 6px 0 0;
}

.imagem3 {
  background-color: rgba(236, 236, 236, 0.151);
  width: 100%;
  height: 250px;
  border-radius: 9px 6px 0 0;

}

.container2 {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 12px;
}
.imagem4 img{
  width: 350px;
  height: 290px;
  border-radius: 9px 6px 0 0;
}

.imagem4 {
  background-color: rgba(236, 236, 236, 0.151);
  width: 100%;
  height: 250px;
  border-radius: 9px 6px 0 0;

}

.imagem5 img{
  width: 350px;
  height: 290px;
  border-radius: 9px 6px 0 0;
}

.imagem5 {
  background-color: rgba(236, 236, 236, 0.151);
  width: 100%;
  height: 250px;
  border-radius: 9px 6px 0 0;

}


.imagem6 img{
  width: 350px;
  height: 290px;
  border-radius: 9px 6px 0 0;
}

.imagem6 {
  background-color: rgba(236, 236, 236, 0.151);
  width: 100%;
  height: 250px;
  border-radius: 9px 6px 0 0;

}



/*celucar*/
.mobile-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.menu-mobile{
  display: none;
  font-size: 35px;
  color: #804423;
  cursor: pointer;
  padding: 5px 10px;

  transition: 0.3s;
}

.Titulo {
  color: #e69a71;
}


.menu-mobile:hover{
  transform: scale(1.1);
}

@media (max-width: 768px){

  header{
      min-height: 70px;
      padding: 10px 15px;
  }

  .mobile-header{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
  }

  .logo{
      width: 180px;
      max-width: 70%;
      height: auto;
  }

  
  .logo-container{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .menu-mobile{
      display: block;
  }

  #Topo{
      width: 100%;
  }

  #Topo ul{
      display: none;

      flex-direction: column;
      align-items: center;

      width: 100%;
      margin-top: 15px;
      gap: 5px;
  }

  #Topo ul.ativo{
      display: flex;
  }

  #Topo li{
      width: 100%;
      padding: 3px;
      text-align: center;
  }

  #Topo button,
  #Topo .button2{
      width: 100%;
  }

}
/*Fim do seculaaaarr*/

