@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


.container1
{
  display:flex;

  flex-direction:column;

  align-items:center;

  justify-content:center;

  gap:30px;

  margin-top:50px;
}

.terno-card{
width: 500px;

height: 290px;

gap: 30px;

padding: 20px;

border: 1px solid #d8d8d8;

border-radius: 10px;

background: white;

}


.imagem{
 border-radius: 0px;
 
 padding: 10px;

}

.imagem img{
 width: 219px;

 height: 320px;

 transform: translateY(3px) translateX(2px);

 position: relative;

 left: -13%;

 border-radius: 10px;
}

.decricao{

  flex:1;
  
}

.decricao h2{
  line-height: 10px;

}
 .decricao p{
  line-height: 1.6;

  margin-bottom:25px;

 }
 

