@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body{
   color:#804423;
   font-family: "Cinzel", sans-serif;
   font-weight: 400;
   background-color: #DAC8B3;
   text-align: center;
}

nav ul{
  list-style: none;
  text-transform: uppercase;
}

nav li{
  display:inline-block;
  padding: 10px;
  margin: 2px;
}

header{
  background-color: rgb(255, 255, 255);
  padding-bottom: 40px;
  position: relative;
  padding-top: 20px;
}

.logo-container {
  position: absolute;
  top: 10px;
  left: 20px;
}

.logo {
  height: 100px;
  width: auto;
  object-fit: contain;
}

h1{
  font-size: 40px;
  color:#804423;
}


 .btn-instagram {
  display: inline-block;
  padding: 10px;
  background-color: #ffffff; /* Cor do Instagram */
  transition: background-color 0.3s;
}

.instagram-icon {
  width: 24px; /* Tamanho do ícone */
  height: 24px;
}

 .btn-gmail {
  display: inline-block;
  padding: 10px;
  background-color: #ffffff;  
  transition: background-color 0.3s;
}

.gmail-icon {
  width: 26px; /* Tamanho do ícone */
  height: 26px;
}



.botão3{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #804423;
  border: none;
  font-size: medium;
  background-color: white;
}
.botão4{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #804423;
  border: none;
  font-size: medium;
  background-color: white;
}
.botão5{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #804423;
  border: none;
  font-size: medium;
  background-color: white;
}
.botão6{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #804423;
  border: none;
  font-size: medium;
  background-color: white;
}
.botão7{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #804423;
  border: none;
  background-color: white;
  font-size: medium;
}







@keyframes autoRun3d {
  from {
    transform: perspective(800px) rotateY(-360deg);
  }
  to {
    transform: perspective(800px) rotateY(0deg);
  }
}

@keyframes animateBrightness {
  10% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(0.1);
  }
  90% {
    filter: brightness(1);
  }
}


.card-3d {
  position: relative;
  width: 400px;
  height: 200px;
  transform-style: preserve-3d;
  transform: perspective(800px);
  animation: autoRun3d 20s linear infinite;
  will-change: transform;
  margin:auto 550px;
}

.card-3d div {
  position: absolute;
  width: 80px;
  height: 112px;
  background-color: rgb(199, 199, 199);
  border: solid 2px lightgray;
  border-radius: 0.5rem;
  top: 50%;
  left: 50%;
  transform-origin: center center;
  animation: animateBrightness 20s linear infinite;
  transition-duration: 200ms;
  will-change: transform, filter;
}

.card-3d:hover {
  animation-play-state: paused !important;
}

.card-3d:hover div {
  animation-play-state: paused !important;
}

.card-3d div:nth-child(1) {
  transform: translate(-50%, -50%) rotateY(0deg) translateZ(150px);
  animation-delay: -0s;
}

.card-3d div:nth-child(2) {
  transform: translate(-50%, -50%) rotateY(36deg) translateZ(150px);
  animation-delay: -2s;
}

.card-3d div:nth-child(3) {
  transform: translate(-50%, -50%) rotateY(72deg) translateZ(150px);
  animation-delay: -4s;
}

.card-3d div:nth-child(4) {
  transform: translate(-50%, -50%) rotateY(108deg) translateZ(150px);
  animation-delay: -6s;
}

.card-3d div:nth-child(5) {
  transform: translate(-50%, -50%) rotateY(144deg) translateZ(150px);
  animation-delay: -8s;
}

.card-3d div:nth-child(6) {
  transform: translate(-50%, -50%) rotateY(180deg) translateZ(150px);
  animation-delay: -10s;
}

.card-3d div:nth-child(7) {
  transform: translate(-50%, -50%) rotateY(216deg) translateZ(150px);
  animation-delay: -12s;
}

.card-3d div:nth-child(8) {
  transform: translate(-50%, -50%) rotateY(252deg) translateZ(150px);
  animation-delay: -14s;
}

.card-3d div:nth-child(9) {
  transform: translate(-50%, -50%) rotateY(288deg) translateZ(150px);
  animation-delay: -16s;
}

.card-3d div:nth-child(10) {
  transform: translate(-50%, -50%) rotateY(324deg) translateZ(150px);
  animation-delay: -18s;
}





















